<div class="alert alert-danger" role="alert">
    <div class="starter-template">
        <h5 class="text-danger">Incorrect Form Submission</h5>
        <p class="lead">Please fix the error below</p>
    </div>
    <%= error%>
</div>
