<div class="alert alert-warning">
    <div class="starter-template">
        <h1 class="text-warning">Invalid Address</h1>
        <p class="lead">Your address is invalid, please try again</p>
    </div>
    <%= error%>
</div>
